# Large Monsters
'Pink Rathian': 'Rathian Rosa'

# Small Monsters
'Aptonoth': 'Aptonoth'

# Status
'Poison': 'Veneno'
'Sleep': 'Sueño'
'Paralysis': 'Parálisis'
'Dizzy': 'Mareo'
'Rage': 'Furia'

# Crowns
' Gold': ' C. Dorada'
' Silver': ' C. Plateada'
' Mini': ' Mini'
